# folders
checkpoint
test_result
.ipynb_checkpoints
*/.ipynb_checkpoints/*
P-tuning-main/

# files
*.pyc
*.swp
*.tar
*.sh
sbatch*
*.ipynb

# data
pretrain/*
*/pretrain/*
MTB_pretrain/BERT-Relation-Extraction-master/data/* # stores the MTB pretraining data

# virtualenv
.virtual

# result
result*

# test data
data/test_wiki_input*
data/test_wiki.json
data/test_pubmed.json
data/train_wiki+pubmed.json
data/pubmed.json

# tmp file
pretrain.tar

# mac cache
.DS_Store

# editor cache
.idea
.vscode
.venv
